.list-container{
    width: 80%;  
}

table,th{
   border: 1px solid #cecece;
   background-color: white;
   box-shadow: 0 0 10px #cecece;
   border-radius: 3px;
   margin:10px;
    margin:0 auto;
}

thead tr th{
    padding:20px;
    text-align: center;
}

tbody tr td{
    padding:20px;
    text-align: center;
    border-left: 1px solid #cecece;
}

td.id{
    padding: 0;
}
td.link{
    display: flex;
}

td a{
    padding: 10px 30px;
    background-color:blue;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

td button{
    padding: 10px 30px;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
}